<div class="container">

    <div class="users" *ngIf="users.length>0">

        <div class="filtr">
            filtr: 
            <input id="f_name" type="text" placeholder="name" [(ngModel)]="filtr.name">
            <input id="f_city" type="text" placeholder="city" [(ngModel)]="filtr.city">
            <button (click)="applyFiltr()">apply</button>
            <button (click)="reset()">reset</button>
        </div>

        <div class="sort">
            sort by:
            <button (click)="sortByName()">name</button>
            <button (click)="sortByCity()">city</button>
        </div>

        <div class="cart" *ngFor="let user of users">
            <div><span>Name:</span> {{user.name}}</div>
            <div><span>City:</span> {{user.address.city}}</div>
            <div><span>Company:</span> {{user.company.name}}</div>
            <br>
            <a [routerLink]="['user', user.id]">подробнее</a>
        </div>
    </div>

    <div *ngIf="users.length==0">
        загрузка
    </div>
    
</div>
