<div class="container">
    <div>
        <form [formGroup]="profileForm" (ngSubmit)="save()" >
            <div class="form">
                <div class="labels">
                    <label for="name">Name: </label>
                    <label for="username">Username: </label>
                    <label for="username">Username: </label>
                    <label for="email">Email: </label>
                    <label for="street">Street: </label>
                    <label for="city">City: </label>
                    <label for="zipcode">Zipcode: </label>
                    <label for="phone">Phone: </label>
                    <label for="website">Website: </label>
                    <label for="comment">Comment: </label>
                </div>
                <div class="inputs">
                    <input id="name" type="text" formControlName="name">
                    <input id="username" type="text" formControlName="username">
                    <input id="email" type="text" formControlName="email">
                    <input id="street" type="text" formControlName="street">
                    <input id="city" type="text" formControlName="city">
                    <input id="zipcode" type="text" formControlName="zipcode">
                    <input id="phone" type="text" formControlName="phone">
                    <input id="website" type="text" formControlName="website">
                    <input id="comment" type="text" formControlName="comment">
                </div>
            </div>
                <button type="submit" [disabled]="!profileForm.valid">save</button>
        </form>
        <button (click)="change()">change</button>
    </div>
</div>   
